.landingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landingContainer section {
  padding: 0px 22px;
}

.landingContainer > section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landingContainer section > img {
  width: 50%;
  min-width: 460px;
  margin: 50px 0; 
}

.splash {
  position: relative; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash::before {    
  content: "";
  background-image: url('../../assets/images/dictionary.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
}

.splash img {
  position: relative;
}

.about {
  height: 350px;
  background-color: var(--navBar-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: rgb(220, 220, 220);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
}

.about header {
  margin-top: 50px;
  width: 100%;
  display: flex;
  padding: 0px 0px;
  align-items: center;
  flex-direction: column;
}

.about header h1 {
  font-size: 200px;
}

.about article {
  width: 100%;
  max-width: 1000px;
}

.about article p {
  margin-bottom: 50px;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  padding-left: 40px;
}

.landingContainer section > header * {
  margin: 0px;
  font-weight: 600;
}

.landingContainer section > header h1 {
  margin: 5px;
  font-size: 36px;
  letter-spacing: 2px;
}

.summary > header {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.summary {
  position: relative; 
  height: 100%;
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary::before {    
    content: "";
    background-image: url('../../assets/images/success.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.30;
}

.summary * {
  position: relative;
}

.landingContainer .summary article {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 50px;
}

.landingContainer article header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
}

.summary article ul {
  padding: 0 20px 0 20px;
}

.summary article li {
  font-size: 20px;
  list-style-type: none;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer {
  padding: 20px 0px;
  display: flex;
  background: white;
  background: var(--navBar-color);
  justify-content: center;
  color:  rgb(220, 220, 220);
}

.footer p {
  margin: 0;
  font-size: 14px;
}