.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
  margin: var(--page-margin);
  row-gap: 15px;
}

.container * {
  text-decoration: none;
}