.articleDetails {
  margin: var(--page-margin);
  display: grid;
  grid-template-areas: 
    "header header"
    "article aside"
    "comments .";
  grid-template-columns: 3fr 1fr;
}

.articleDetails section {
  grid-area: comments;
  margin-top: 50px;
}