.container {
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  /* position: fixed;  */
  /* padding: 14px 21px; */
  /* align-items: center; */
  background: var(--navBar-color);
  /* border-bottom: 1px solid rgb(200, 200, 200); */
}

/* .container img {
  width: 50px;
} */

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.container li {
  /* margin-left: 35px; */
  text-align: right;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}