nav > h2 {
  width: 80%;
}

.container {
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* position: fixed;  */
  /* padding: 14px 21px; */
  /* align-items: center; */
  background: var(--navBar-color);
  padding: 0 10px;
  /* border-bottom: 1px solid rgb(200, 200, 200); */
}

/* .container img {
  width: 50px;
} */

.container > ul {
  margin: 0;
  /* width: 100%; */
  display: flex;
  padding: 0;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.mainNavBtns {
  text-align: center;
  width: 140px;
  background-color: transparent;
  border: solid white 2px;
  border-radius: 10px;
  padding: 8px 0;
}

#logout {
  text-align: center;
  width: 140px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 2px;
  transition: background-color 0.25s;
}

#logout:hover {
  background-color: gray;
  border-color: gray;
}

#links {
  color: white;
}

a,
a:visited {
  color: #040404;
  text-decoration: none;
}

#logout > a, #logout > a:visited {
  color: black;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}