.articleCard {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-between;
  width: 100%;
  background-color: var(--articleCard-color);
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.articleCardHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 15px;
}

.articleCardHeader h1 {
  font-size: 20px;
  margin: 5px 0;
}

.articleCardHeader h4 {
  margin: 5px 0;
}

.articleCardHeader > p {
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
}

.articleCard img {
  width: 95%;
  text-align: right;
  margin-top: 15px;
}
