.commentCard {
  grid-area: comments;
  display: flex;
  align-items: center;
  max-width: 100%;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.commentCard > .text { 
  width: 75%;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-family: var(--font-family);
  font-size: 16px;
  border-radius: var(--border-radius);
  background-color: var(--commentCard-color);
  color: black;
}

.commentCard > .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentCard > .actions > button {
  margin: 0 0 0 15px;
  height: 40px;
  width: 60px;
}

.commentCard > .actions > button * {
  color: white;
  text-decoration: none;
}

.commentCard > .actions > button:hover {
  cursor: pointer;
}

.commentCard > .text > header {
  display: flex;
  align-items: center;
}

.commentCard > .text > header > div {
  margin: 0;
}

.commentCard > .text > p {
  margin: 10px 20px 10px 70px;
  font-style: italic;
}

/* .commentCard > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */
/* .commentCard > header > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
} */

/* .commentCard > header > div { */
  /* margin-right: 0; */
  /* width: 60px; */
  /* margin-left: 10px; */
  /* padding: 10px; */
/* } */

