.signup {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.signup * {
  margin: 0;
}

.signup > h1 {
  margin-bottom: 20px;
}

.signup > .message {
  margin-bottom: 25px;
  height: 20px;
  color: #fb7f03;
  font-size: 18px;
  font-weight: bold;
}

.signup > .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.signup > .form > .label {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.signup > .form > .label > input, .signup > .form > .label > select {
  margin-left: 15px;
  padding: 10px 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: none;
}

.signup > .form > .label:last-of-type {
  margin-bottom: 30px;
}

.signup > .form > div > button {
  height: 40px;
  width: 80px;
  padding: 0;
  margin-left: 16px;
}

.signup > .form > div > button > a {
  color: white;
  text-decoration: none;
}

input[type="file"] {
  padding: 0;
}