.authorInfo {
  display: flex;
  align-items: center;
  width: 100%;
}

.authorInfo * {
  margin: 0;
}

.authorInfo > img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  background-color: transparent;
  margin: 10px 20px;
}

.authorInfo > section {
  display: flex;
  flex-direction: column;
  margin: 0;
}