:root {
  --font: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
  --background-color: #2B303A;
  --navBar-color: #EEE5E9;
  --navBar-color: #22262E;
  --button-color: #D8315B;
  --card-color: #92DCE5;
  --sideBar-color: #22262e;

  --page-margin: 100px;
  --border-radius: 10px;
  --box-shadow: ;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

