:root {
  --font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;

  --background-color: #1C3144;
  --navBar-color: #162837;
  --wordCard-color: #13c6cf;
  --articleCard-color: #111f2b;
  --commentCard-color: #becede;
  --sideBar-color: #162837;

  --button-color: #D8315B;
  --button-border-color: #c62d53;

  --page-margin: 100px;
  --border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  background-color: var(--background-color);

  font-family: var(--font-family);
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.uniButton {
  background: var(--button-color);
  border-radius: var(--border-radius);
  border: 2px solid var(--button-border-color);

  box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.5);
  
  color: white;
  font-weight: 800;
}

.uniButton:active {
  transform: scale(0.95);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}