.newComment {
  grid-area: comments;
  display: flex;
  align-items: center;
  max-width: 100%;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.newComment > textarea { 
  padding: 15px;
  font-size: 16px;
  border-radius: var(--border-radius);
  margin: 14px 0px 14px 0px;
  font-family: var(--font-family);
}

.newComment > button {
  color: white;
  font-weight: 800;
  background: #00a0df;
  border-radius: var(--border-radius);
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 0 15px;
  height: 40px;
  width: 50px;
}

.newComment > button:hover {
  cursor: pointer;
}

/* .newComment button[type="submit"] img {
  width: 18px;
  height: 18px;
} */